:root {
	--font: "EB Garamond", serif;
	--font-title: "Playfair Display", serif;
	--font-sans-serif: "Manrope", sans-serif;
	--black: #1c1f33;
	--gray: #eee;
	--gray-1: #ededed;
}

* {
	box-sizing: border-box;
}

@mixin double-border {
	border: 2px solid transparent;
	outline: 3px solid var(--black);
	box-shadow: inset 0 0 0 1px var(--black);
}

body {
	font-size: 1.1rem;
	background: var(--preview-bg);
	font-family: var(--font);
	color: var(--black);
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/paper_fibers.png)
		repeat;
	padding: 4rem 2rem;
	line-height: 1.3;
	text-align: justify;
	column-break-inside: avoid;
}

a {
	text-decoration: none;
	display: block;
	color: var(--black);
	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: var(--black);
	}
}

.main__wrapper {
	max-width: 1135px;
	margin: auto;
}

h1 {
	font: 50px/1 "Playfair Display SC";
	text-align: center;
	@media (min-width: 700px) {
		font: 70px/1 "Playfair Display SC";
	}
}

h3 {
	font: italic 20px var(--font-title);
	margin-bottom: 1rem;
}

h4 {
	font: 20px/1.2 var(--font-title);
}

h5 {
	font: 700 20px/1 var(--font);
	transition: 0.3s ease;
}

p {
	line-height: 1.3;
	a {
		display: inline;
	}
}

em {
	font-style: italic;
}

.title--large {
	font-family: var(--font-title);
	font-size: 32px;
	font-style: italic;
	text-align: left;
	margin-bottom: 0.8rem;
	@media (min-width: 700px) {
		font-size: 42px;
		margin: 0;
	}
}

main {
	@media (min-width: 700px) {
		display: grid;
		grid-template-columns: repeat(4, 1fr) 23%;
		grid-template-rows: repeat(5, auto);
		grid-gap: 1.2rem;
	}
}